.pagecolor {
    background-color: #080808;
}

.alignCenter {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.noDeco {
    text-decoration: none;
}

.textBox {
    width: 50%;
    height: auto;
}

.whitepaperText {
    color: #00fa85;
    font-family: 'Tektur', cursive;
    font-size: 25px;
}

.whitepaperHeading {
    font-size: 40px;
    font-family: 'Tektur', cursive;
}

.whitepaperLink {
  text-decoration: none;
}

.showBorder {
    border-radius: 25px;
    padding: 1px;
}

.textNFT {
    font-family: 'Tektur', cursive;
    color: white;
}

.mainOverview {
    background-color: #0288e2;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 1px;
    padding-bottom: 15px;
}

.statsBar {
    display: table;
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
    background-color: #1d1d1d;    /* For cells of equal size */
}

.stats {
    display: table-cell;
    text-align: center;
    color: white;
    font-family: 'Tektur', cursive;
    border-radius: 25px;
    padding: 1px;
}

.NFTheader {
    font-family: 'Tektur', cursive;
    color: #ffffff;
    display: table;
    table-layout: inherit;
    width: 100%;
    font-size: 25px;
}

.NFTheaderElement {
    display: table-cell;
    text-align: center;
}

.statsDescription {
    max-width: 300px;
    text-align: center;
    font-family: 'Tektur', cursive;
    color: white;
    padding-left: 8px;
}

.searchBox {
    position: relative;
}

.searchBox:hover input {
    width: 300px;
    background-color: #8e3106;
    border-radius: 10px;
    font-family: 'Tektur', cursive;
}

.searchBox i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #f68700;
    transition: .2s;
}

.searchBox:hover i {
    opacity: 0;
    z-index: -1;
}

.input {
    padding: 10px;
    width: 300px;
    height: 35px;
    background-color: #eaab36;
    border: 4px solid #000000;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 20px;
    color: #000000;
    outline: none;
    transition: .5s;
    font-family: 'Tektur', cursive;
}

.inputToken {
    padding: 10px;
    width: 300px;
    height: 35px;
    background-color: #e5a73e;
    border: 4px solid #000000;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 20px;
    color: #000000;
    outline: none;
    transition: .5s;
    font-family: 'Tektur', cursive;
}

.searchField {
    background-color: none;
    height: 50vh;
    color: #e24502;
    font-family: 'Tektur', cursive;
}

/* CSS  For Button */
.button {
  background: rgb(54, 53, 53);
  border: 1px solid rgb(54, 53, 53);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 10px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: rgb(54, 53, 53);
  background-position: 0 0;
  color: #ffffff;
}

.button:active {
  opacity: .5;
}

.NFTlisting {
    margin-left: auto;
    margin-right: auto;
    width: 99.5%;
    background-color: #100f0f;
    border: #e24502 solid 2px;
    color: #e24502;
    border-radius: 25px;
    padding: 1px;
    margin-top: 30px;
    padding-bottom: 800px;
}

.NFTNews {
    margin-top: 20px;
    border-radius: 25px;
    padding: 5px;
    background-color: #100f0f;
}

.TopCollection {
    padding-bottom: 200px;
}

.RecentMints {
    padding-bottom: 200px;
    
}

.divleft{
    float:left;
    padding-left:10px;
    text-align: center;
    width: 40%;
    height: 30%;
    background-color: rgb(55, 55, 55);
    padding-bottom: auto;
    font-family: 'Tektur', cursive;
    margin-left: 20px;
}
.divright{
    float:right;
    padding-right:10px;
    text-align: center;
    width: 40%;
    height: 30%;
    background-color: rgb(55, 55, 55);
    padding-bottom: auto;
    font-family: 'Tektur', cursive;
    margin-right: 20px;
}

.comingSoon {
    margin-left: auto;
    margin-right: auto;
    width: 99.5%;
    color: #ec1b00;
    font-family: 'Tektur', cursive;
    font-size: 35px;
    text-align: center;
}

.homepagemain {
    color: #0d73d3;
    margin: auto;
    text-align: center;
}

.horizontalLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.horizontalLink {
    text-decoration: none;
    padding: 8px;
    margin: 0 5px;
    color: #333;
}
  
